<br>
<br>
<br>
<br>
<br>
<div class="container">
   <div clas="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login and get started</h3>
                    <hr>
                    <br>
                    <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block">Login with facebook</a>
                </div>
            </div>
       </div>
    </div>
</div>